<div class="app-body">

  <main class="main">
    <div class="container-fluid">
        <div class="container">
            <form (submit)="addNota(postForm)" #postForm="ngForm">
              <div class="row">
                <div class="col-25">
                  <label>Matéria</label>
                </div>
                <div class="col-75">
                    <select id="materia" name="materia" [(ngModel)]="materiaService" required>
                        <option disabled value="" selected>Please Select</option>
                        <option [value]="materias.id" *ngFor="let materias of materias">{{materias.nome}}</option>
                    </select>
                </div>
              </div>
              <div class="row">
                  <div class="col-25">
                    <label>Nota</label>
                  </div>
                  <div class="col-75">
                    <input type="number" name="nota" placeholder="Sua nota" ngModel #nota="ngModel">
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label>Peso</label>
                  </div>
                  <div class="col-75">
                    <input type="number" name="peso" placeholder="Peso da nota" ngModel #peso="ngModel">
                  </div>
                </div>
              <div class="row">
                  <div class="buttonSubmit">
                      <input type="submit" value="Adicionar">
                  </div>
              </div>
            </form>
          </div>
    </div>

    <div class="materias">
      <h1>Matérias:</h1>
      <mat-accordion multi=true>
        <mat-expansion-panel class="mat" *ngFor="let materias of materias">
          <mat-expansion-panel-header>
            {{ materias.nome }}
          </mat-expansion-panel-header>
          <p> Descrição: {{ materias.descricao }} </p>

          <a mat-button color="primary" (click)="getNotasbyMateria(materias.id)">Notas</a>
          <a *ngIf=notas mat-button color="warn" (click)="getNotasbyMateriaOk()">Ok</a>

          <div class="notas" *ngIf=notas>
          <li *ngFor="let notas of notas">
              <mat-card>
                Nota: {{ notas.valor }} || Peso: {{ notas.peso }}
              </mat-card>
            </li>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </main>
</div>
