<div class="wrapper fadeInDown" *ngIf="!registro">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
              <span><i class="pi pi-user" style="font-size: 2em" id="icon"></i></span>
      </div>

      <!-- Login Form -->
      <form (submit)="criarUsuario(postForm)" #postForm="ngForm">
        <input type="text" id="nome" class="fadeIn second" name="nome" placeholder="nome"  ngModel #nome="ngModel">
        <input type="text" id="sobrenome" class="fadeIn second" name="sobrenome" placeholder="sobrenome"  ngModel #sobrenome="ngModel">
        <input type="text" id="email" class="fadeIn third" name="email" placeholder="email"  ngModel #email="ngModel">
        <input type="password" id="senha" class="fadeIn third" name="senha" placeholder="senha"  ngModel #senha="ngModel">
        <input type="submit" class="fadeIn fourth" value="Cadastrar">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
            <a class="underlineHover" routerLinkActive="active" routerLink="/">Eu já tenho uma conta!</a><br>
      </div>

    </div>
  </div>

<div class="wrapper fadeInDown"  *ngIf="registro">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
              <span><i class="pi pi-user" style="font-size: 2em" id="icon"></i></span>
      </div>

      <!-- Registro = true -->
      <div class="regOn">
        <h1>
          Registro realizado!
        </h1>
      </div>

      <!-- Login -->
      <div id="formFooter">
            <a class="underlineHover" routerLinkActive="active" routerLink="/">Faça o login!</a><br>
      </div>

    </div>
</div>
