<div class="app-body">

  <main class="main">
    <div class="container-fluid">
        <div class="container">
            <form (submit)="criarMateria(postForm)" #postForm="ngForm">
              <div class="row">
                <div class="col-25">
                  <label>Matéria</label>
                </div>
                <div class="col-75">
                  <input type="text" name="materia" placeholder="Nome da matéria" ngModel #materia="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>Tipo de Média</label>
                </div>
                <div class="col-75">
                  <select id="tipoMedia" name="tipoMedia" ngModel #tipoMedia="ngModel">
                    <option disabled selected value>Tipo de Média</option>
                    <option value="aritmetica">Aritmética</option>
                    <option value="ponderada">Ponderada</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="subject">Descrição</label>
                </div>
                <div class="col-75">
                  <textarea id="subject" name="descricao" placeholder="Descreva a matéria..." rows="4" ngModel #descricao="ngModel"></textarea>
                </div>
              </div>
              <div class="row">
                  <div class="buttonSubmit">
                      <input type="submit" value="Adicionar">
                  </div>
              </div>
            </form>
          </div>
    </div>

    <div class="materias">
      <h1>Matérias:</h1>
      <mat-accordion multi=true>
        <mat-expansion-panel class="mat" *ngFor="let materias of materias">
          <mat-expansion-panel-header>
            {{ materias.nome }}
          </mat-expansion-panel-header>
          <p> Descrição: {{ materias.descricao }} </p>
          <mat-action-row>
            <!-- <a mat-button color="primary" [routerLink]="['/edit' , materias.id]">EDIT</a> -->
            <button mat-button color="warn" (click)="deleteMaterias(materias.id)">DELETE</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </main>


</div>
