<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
            <span><i class="pi pi-user" style="font-size: 2em" id="icon"></i></span>
    </div>

    <!-- Login Form -->

    <form (submit)="login()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLinkActive="active">Forgot Password</a><br>
      <a class="underlineHover" routerLinkActive="active" routerLink="/registro">Sign Up</a><br>
      <!-- Teste App -->
      <a class="underlineHover" routerLinkActive="active" routerLink="/app">App Test</a>
    </div>

  </div>
</div>
