<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
            <span><i class="pi pi-user" style="font-size: 2em" id="icon"></i></span>
    </div>

    <!-- Login Form -->

    <form (submit)="login(postForm)" #postForm="ngForm">
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="login" ngModel #nome="ngModel">
      <input type="password" id="password" class="fadeIn third" name="senha" placeholder="password" ngModel #nome="ngModel">
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>

    <span class="text-danger" *ngIf="erroNone">Esse email ainda não foi cadastrado!</span><br>
    <span class="text-danger" *ngIf="erroWrong">Senha Incorreta!</span><br>
    <!-- Remind Passowrd -->
    <div id="formFooter">

      <a class="underlineHover" routerLinkActive="active" id="esqueciSenha">Forgot Password</a><br>
      <a class="underlineHover" routerLinkActive="active" routerLink="/registro" id="registrar">Sign Up</a><br>
      <!-- Teste App -->
      <!-- <a class="underlineHover" routerLinkActive="active" routerLink="/app">App Test</a> -->
    </div>

  </div>
</div>
