
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

#button-navbar{
  background-color: #2f353a !important;
  border-radius: 0;
}

#icon{
  color: white;
  margin: 0 auto;
}

#title {
  padding-left: 4em;
}